<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
        failOnRisky="true"
        failOnWarning="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        displayDetailsOnPhpunitDeprecations="true">

    <testsuites>
        <testsuite name="NixPHP View Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing" />
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="1" />
        <const name="PHPUNIT_RUNNING" value="true"/>
    </php>
</phpunit>